<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Calculator | {% block title %}{% endblock %}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    <!--<script type=text/javascript src="{{url_for('static', filename='calc.js') }}"></script>-->
    <script type=text/javascript src="{{url_for('static', filename='calculator.js') }}"></script>
</head>
<body>

<div class="container">
    <div class="header">
    {% block head %}
        <div class="logo"><a href="/"><img src="/static/images/calculator.png" width="70px"></a></div>
        <div class="site-name"><a href="/">Online Calculator</a></div>
        <div class="menu">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('options') }}">Options</a></li>
            </ul>
        </div>
        <a href="http://rtfm.merann.ru"><div class="mera-logo"></div></a>
    {% endblock %}
    </div>
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
    <div class="footer">
    {% block footer %}
        <div class="copyright">&#169;2015 Zharkov Aleksandr</div>
    {%endblock %}
    </div>
</div>
</body>
</html>