{% extends 'base.html' %}

{% block content %}

<div class="calculator">
    <div id="input" class="input-box"></div>
    <div class="row">
        <div class="btn oper"><a class="butt" href="#">(</a></div>
        <div class="btn oper"><a class="butt" href="#">)</a></div>
        <div class="btn oper"><a class="butt" href="#">BS</a></div>
        <div class="btn clear"><a class="butt" href="#">C</a></div>
    </div>
    <div class="row">
        <div class="btn"><a class="butt" href="#">7</a></div>
        <div class="btn"><a class="butt" href="#">8</a></div>
        <div class="btn"><a class="butt" href="#">9</a></div>
        <div class="btn oper"><a class="butt" href="#">-</a></div>
    </div>
    <div class="row">
        <div class="btn"><a class="butt" href="#">4</a></div>
        <div class="btn"><a class="butt" href="#">5</a></div>
        <div class="btn"><a class="butt" href="#">6</a></div>
        <div class="btn oper"><a class="butt" href="#">+</a></div>
    </div>
    <div class="row">
        <div class="btn"><a class="butt" href="#">1</a></div>
        <div class="btn"><a class="butt" href="#">2</a></div>
        <div class="btn"><a class="butt" href="#">3</a></div>
        <div class="btn oper"><a class="butt" href="#">*</a></div>
    </div>
    <div class="row">
        <div class="btn"><a class="butt" href="#">.</a></div>
        <div class="btn"><a class="butt" href="#">0</a></div>
        <div class="btn result"><a class="butt" href="#">=</a></div>
        <div class="btn oper"><a class="butt" href="#">/</a></div>
    </div>
</div>
{% endblock %}