{% extends 'base.html' %}
{% block title %}Main page{% endblock %}
{% block content %}
<div class="settings">{{ mode }} mode</div>
<div class="calculator">
    <div id="input" class="input-box"></div>
    <div class="row">
        <div class="btn oper"><a class="butt" name="(" href="#">(</a></div>
        <div class="btn oper"><a class="butt" name=")" href="#">)</a></div>
        <div class="btn oper"><a class="butt" name="BS" href="#">BS</a></div>
        <div class="btn clear"><a class="butt" name="C" href="#">C</a></div>
    </div>
    <div class="row">
        <div class="btn"><a class="butt" name="7" href="#">7</a></div>
        <div class="btn"><a class="butt" name="8" href="#">8</a></div>
        <div class="btn"><a class="butt" name="9" href="#">9</a></div>
        <div class="btn oper"><a class="butt" name="-" href="#">-</a></div>
    </div>
    <div class="row">
        <div class="btn"><a class="butt" name="4" href="#">4</a></div>
        <div class="btn"><a class="butt" name="5" href="#">5</a></div>
        <div class="btn"><a class="butt" name="6" href="#">6</a></div>
        <div class="btn oper"><a class="butt" name="+" href="#">+</a></div>
    </div>
    <div class="row">
        <div class="btn"><a class="butt" name="1" href="#">1</a></div>
        <div class="btn"><a class="butt" name="2" href="#">2</a></div>
        <div class="btn"><a class="butt" name="3" href="#">3</a></div>
        <div class="btn oper"><a class="butt" name="*" href="#">*</a></div>
    </div>
    <div class="row">
        <div class="btn"><a class="butt" name="." href="#">.</a></div>
        <div class="btn"><a class="butt" name="0" href="#">0</a></div>
        <div class="btn result"><a class="butt" name="=" href="#">=</a></div>
        <div class="btn oper"><a class="butt" name="/" href="#">/</a></div>
    </div>
</div>
{% endblock %}